body{	
        font-family: 'Alegreya Sans';
}
#container-fluid{
		height:auto;
		width: auto;
        margin-left: auto;
        margin-right: auto;	
}.header{
	    background-color: #4F4228; 
		height:auto;
		width: auto;
}
.header td{ 
        color: #BFA062;
	    text-align: left;
		vertical-align: bottom;
		margin: 0px;
		padding: 10px;
		font-family: 'Noto Sans JP';
}
.navbar{
        color: #BFA062;
		vertical-align: center;
		text-align: center;
		margin: 0px;
		background-color:#73603B ;
		color: black;
		font-family: 'Roboto';
}
div.navbar a:link{
		color: #BFA062;
		text-decoration: none;
}
div.navbar a:visited{
		color: #BFA062;
		text-decoration: none;
}	
div.navbar a:hover{
	    background-color: #4F4228;
        text-decoration: none;
		color: #BFA062;
}
div.navbar a:active{
	    color: #BFA062;
		text-decoration: none;
}
.image{
	    background-color: #BFA062;	
}
.poverty{
        width: 100%;
        height: auto;
        padding: 15px 0px 15px 0px;
}
.poverty1{
        width: 100%;
        height: auto;
        padding: 0px 0px 15px 0px;
}
.content{
        float: left;
        height: auto;
        width: auto;
	    background-color: #BFA062;	
}
.content table{
        margin-top: -3px;
        height: auto;
        width: auto;
}
td.justify{
	    height: auto;
        width: auto;
        padding: 20px 20px 0px 20px;
}
h3{
        margin-top: -25px;
        text-align: center;
		font-family: 'Roboto';
}
p{
        text-align: justify;
		font-family: 'Alegreya Sans';
}














